.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", monospace;
}

/* Header section */
.header {
    height: 42px;
    padding-top: 18px;
    display: flex;
    background-color: #1F2937;
}

ul {
    margin: 0;
    padding: 0;
}

.header ul {
    display: flex;
    list-style: none;
}

.header li {
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 32px;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    font-size: 1.25rem;
    color: #F9FAF8;
    display: flex;
    margin-top: 6px;
    margin-left: 38px;
    margin-right: auto;
}

/* First section */

.first-section {
    min-height: 400px;
    background-color: #1F2937;
    display: flex;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
}

.first-section-text {
    min-width: 280px;
    max-width: 520px;
    padding-left: 24px;
    margin-right: auto;
}

.first-section-image {
    
    display: flex;
    align-items: center;
    padding-right: 52px;
    padding-left: 24px;
    
}

.first-section-image img {
    border-radius: 25px;
    max-width: 100%;
}

.first-section-image img {
    width: 480px;
}

.first-section-header {
    font-size: 2.5rem;
    color: #F9FAF8;
    margin: 12px;
}

.first-section-subtext {
    font-size: 1.15rem;
    color: #E5E7EB;
    margin: 12px;
}

.first-section-button button {
    color: white;
    width: 100px;
    padding: 6px;
    margin: 12px;
    background-color: #3882F6;
    border-radius: 25px;
}


/* Second section */

.second-section {
    min-height: 400px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.second-section-header {
    font-size: 2.15rem;
    color: #1F2937;
    font-weight: 900;
    margin-left: 24px;
}

.image-cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.image-card {
    margin: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;

}

.image-card img {
    border: 6px solid #3882F6;
    width: 200px;
    border-radius: 25px;
}

/* Third section */

.third-section {
    min-height: 400px;
    margin-top: 24px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.quotation {
    color: #1F2937;
    max-width: 600px;
    font-size: 2.15rem;
    font-style:italic;
    font-weight: lighter;
    margin: 24px;

}

.attribution {
    color: #1F2937;
    font-weight: bold;
    margin-left: auto;
    margin-right: 312px;
}

/* Fourth Section */

.fourth-section {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.cta {
    width: 900px;
    border-radius: 25px;
    background-color: #3882F6;
    color: white;
    display: flex;
}

.cta-text {
    margin-left: 124px;
}

.cta-button {
    margin-left: auto;
    margin-right: 124px;
    margin-top: 46px;
}

.cta-button button {
    background-color: #3882F6;
    color: white;
    font-size: 1.15rem;
    border-radius: 12px;
    width: 200px;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0;
}